.hero

    // .hero__container

    &__container
        padding-top: clamp(1.875rem, 0.497rem + 6.89vw, 6rem)
        padding-bottom: clamp(1.875rem, -0.839rem + 13.57vw, 10rem)
        display: flex
        align-items: center
        justify-content: space-between
        gap: clamp(1.25rem, -1.34rem + 4.18vw, 2rem)

    // .hero__content

    &__content
        flex-basis: 624px

        +max(767px)
            flex-basis: 100%


    // .hero__text

    &__text
        margin-bottom: 32px

    // .hero__link

    &__link
        margin-bottom: 40px

    // .hero__arrow-link

    &__arrow-link
            

    // .hero__info

    &__info

    // .hero__img

    &__img
        flex-basis: 622px

        +max(1200px)
            flex-basis: 40%

        +max(991px)
            display: none

    .info

        // .info__item

        &__item
            &:not(:first-child)
                margin-top: 16px

        // .info__title

        &__title
            font-size: 20px

        // .info__text

        &__text

        // .info__phone

        &__phone
.header-1     
    margin-bottom: 16px


        

