<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title }}</title>
<link rel="stylesheet" href="assets/css/style.min.css">

<!-- Прогрев домена статики -->
<link rel="preconnect"
    href="https://fonts.gstatic.com"
    crossorigin />

<!-- Асинхронная предзагрузка CSS файла с высоким приоритетом -->
<link rel="preload"
    as="style"
    href="https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,700&display=swap" />
<link rel="preload"
    as="style"
    href="https://fonts.googleapis.com/css?family=Poppins:regular,500&display=swap" />

<!-- Неблокирующая загрузка CSS-файла с низким приоритетом -->
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,700&display=swap"
    media="print" onload="this.media='all'" />
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Poppins:regular,500&display=swap"
    media="print" onload="this.media='all'" />

<!-- Фоллбэк при отключенном JavaScript -->
<noscript>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,700&display=swap" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Poppins:regular,500&display=swap" />
</noscript>